@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@100&display=swap");

@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/container.css");


body { 
	font-family: "lola", serif;
	font-size: 18px;
	margin: 0px;
}

h1, h2, h3 {
	font-family: "roboto", sans-serif;
	font-weight: bold;
}

a {
	text-decoration: none;
}

element.style { 
  background: red;
  padding: 30px;
  display: flex;
}


